
<style>
.pac-container {
    z-index: 1051 !important;
}
</style>

<style>
.dtpicker-buttonCont .dtpicker-button {
    display: block;
    padding: .6em 0;
    width: 47%;
    background: #66b2ff;
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
}

.dtpicker-header .dtpicker-title {
    color: #384452;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.dtpicker-bg {
    width: 100%;
    height: 100%;
}

.dtpicker-header .dtpicker-value {
    padding: .8em .2em .2em;
    color: #384452;
    text-align: center;
    font-size: 1.4em;
}
</style>

<div class="modal fade" id="modalDropBike" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="routeModalLabel">{{ _("Drop a bike off") }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="formDropBike" method="post">
                            {{ m.render_field(formDropBike.start) }}
                            {{ m.render_field_errors_date(formDropBike.time) }}
                            <div id="dtBoxDropBike"></div> <br>
                            {{ m.render_field(formDropBike.people) }}
                            {{ formDropBike.csrf_token }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" name="submit" onClick="$('#modalDropBike').modal('toggle'); route('form.formDropBike', 'dropBike');">
                    {{ _("Let us search for the best trip possible") }} <i class="fa fa-rocket"></i>
                </button>
                <button id="closeModal" class="btn btn-default" type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
            </div>
        </div>
    </div>
</div>

<!-- DateTimePicker settings -->
<script type='text/javascript'>
 $(document).ready(setDateTime("#dtBoxDropBike"));
</script>

<script type='text/javascript'>
function initializeAdresseDep() {
    var input = document.getElementById('start');
    var options = {
        types: ['geocode'],
        componentRestrictions: {country: 'fr'}
    };
    autocomplete = new google.maps.places.Autocomplete(input, options);
}
google.maps.event.addDomListener(window, 'load', initializeAdresseDep);
</script>

