@font-face {
    font-family: "Ma Super Fonte";
    src: url('/static/fonts/YanoneKaffeesatz-Regular.otf');
}
@font-face {
    font-family: "Ma Super Fonte";
    font-weight: bold;
    src: url('/static/fonts/YanoneKaffeesatz-Bold.otf');
}

body { background: url(/static/img/404.jpg) no-repeat center center fixed;}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn {margin-right:10px;}

h1 {
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-style: normal;
    font-weight: normal;
}