{% include 'includes/header.html' %}
{% include 'includes/navigation.html' %}
<script src="/static/js/freewall.min.js"></script>

<style>
.logo .img-responsive {
    margin: 0 auto;
}
</style>

<body>
	<br>
	<br>
	<div class="container mtb">
		<img src="/static/img/OpenBikes.png" class="logo">
	</div>

	<div class="layout">
		<div id="filters" align="center" class="filter-items"></div>
		<div id="freewall" class="free-wall"></div>
	</div>

	<script type="text/javascript">

		function goToMap(element){
			var city = element.title;
			location.href = ['/', lang, '/', city].join('');
		}

		var filters = '<div class="filter-label" style="color:white"><i class="fa fa-globe"></i></div>'
		var template = "<div class='brick {size} {country}' title={title} style='background-color: {color}; cursor: pointer;' onclick='goToMap(this)'><h2 class='cover'>{city}</h2></div>";
		var smallSizes = ["size11", "size12"];
		var longSizes = ["size21"];
		var colors = [
			"#66C194", // Green blue
			"#FF8C79", // Orange
			"#ADD8E6", // Light blue
			"#AEC6CF", // Blue
			"#FFD1DC", // Pink
			"#B39EB5", // Purple
			"#77DD77", // Green
			"#F9D1AF", // Brown
			"#CFCFC4", // Gray
			"#FFB347", // Orange
		];
		var html = '', size = '', color = ''
		var i = colors.length * Math.random() << 0;
		{% for country, cities in cities_file.items()|sort %}
			var country_name = "{{ names_file[country] }}";
			var color = colors[i];
			filters += '<div class="filter-label" data-filter=".{{ country }}" style="background: '+color+'">'+country_name+'</div>'
			if (i >= colors.length-1) {
				i = 0;
			} else {
				i += 1;
			}
			{% for city in cities|sort %}
				var city_name = "{{ names_file[city] }}";
				var length = String("{{ city }}").length;
				if (length <= 5) {
					size = smallSizes[smallSizes.length * Math.random() << 0];
				} else {
					size = longSizes[longSizes.length * Math.random() << 0];
				}
				html += template.replace("{size}", size).replace("{color}", color).replace("{city}", city_name).replace("{country}", "{{ country }}").replace("{title}", "{{ city }}");
            {% endfor %}
        {% endfor %}

		$("#filters").html(filters);
		$("#freewall").html(html);

		$(function() {
			var wall = new Freewall("#freewall");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 160,
				cellH: 160,
				fixSize: 0,
				onResize: function() {
					wall.refresh();
				}
			});
			$(".filter-label").click(function() {
				$(".filter-label").removeClass("active");
				var filter = $(this).addClass('active').data('filter');
				if (filter) {
					wall.filter(filter);
				} else {
					wall.unFilter();
				}
			});
			wall.fitWidth();
		});
	</script>
	{% include 'includes/footer.html' %}
</body>
</html>
