<div id="footerwrap">
 	<div class="container">
	 	<div class="row">
	 		<div class="col-lg-4">
	 			<h4>{{ _("Colophon") }}</h4>
	 			<div class="hline-w"></div>
	 			<p>{{ _("OpenBikes is a website developed by students from") }} <a href="https://cmisid.univ-tlse3.fr/">SID</a>.
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>{{ _("Social") }}</h4>
	 			<div class="hline-w"></div>
	 			<p>
	 				<a href="https://github.com/OpenBikes"><i class="fa fa-github"></i></a>
	 				<!-- Section commentée car pas de fb, ni tw, ni ig -->
	 				<!--<a href="#"><i class="fa fa-facebook"></i></a>
	 				<a href="#"><i class="fa fa-twitter"></i></a>
	 				<a href="#"><i class="fa fa-instagram"></i></a>-->
	 				<a href="mailto:contact.openbikes@gmail.com"><i class="fa fa-envelope-o"></i></a>
	 				<a href="https://www.tipeee.com/openbikes"><i class="fa fa-eur"></i></a>
	 			</p>
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>{{ _("Coordinates") }}</h4>
	 			<div class="hline-w"></div>
	 			<p>
	 				Université Paul Sabatier<br/>
	 				Toulouse, France<br/>
	 				contact.openbikes@gmail.com<br/>
	 			</p>
	 		</div>
	 	</div>
 	</div>
 </div>