{% include 'includes/header.html' %}
{% include 'includes/navigation.html' %}

<body>
<div id="service">
 	<div class="container">
			<div class="row centered">
				<h1 class="navbar-title">OpenBikes {{ _("is") }}...</h1>
				</br>
				<div class="col-md-3">
					<i class="fa fa-graduation-cap" style="color:#66b2ff"></i>
					<h4>{{ _("Made by students") }}</h4>
					<p>{{ _("OpenBikes is a project powered by students in data science and business intelligence from the Université Paul Sabatier - Toulouse III") }}.</p>
				</div>
				<div class="col-md-3">
					<i class="fa fa-plug fa-blue" style="color:#66b2ff"></i>
					<h4>{{ _("Modern") }}</h4>
					<p>{{ _("Bike sharing is part of the transport ecosystem of many major cities. We want to make bike transport a breeze.") }}</p>
				</div>
				<div class="col-md-3">
					<i class="fa fa-check" style="color:#66b2ff"></i>
					<h4>{{ _("Resilient") }}</h4>
					<p>{{ _("Our system is built on open-source tools and state of the art methodologies.") }}</p>
				</div>
				<div class="col-md-3">
					<i class="fa fa-trophy fa-blue" style="color:#66b2ff"></i>
					<h4>{{ _("Award winning") }}</h4>
					<p>{{ _("Winner of <a href='https://www.data.gouv.fr/fr/dataconnexions-6'>DataConnexions 6</a>, a national open data competition.") }}</p>
				</div>				
 		</div>
 	</div>
</div>

<div id="blue">
    <div class="container">
		<div align="center" class="row">
			<h3><i class="fa fa-hand-rock-o"></i> {{ _("Our team") }}</h3>
		</div>
    </div>
</div>

<div class="container">
    <section id="team" class="white-bg padding-top-bottom">
		<div class="container">
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/static/img/about/team/max_halford.jpg" alt="Max Halford">
					<h4>Max Halford</h4>
					<h3 class="title">{{ _("Founder") }}</h3>
				</div>
				<div class="col-sm-7">
					<div class="details">
						<p>{{ _("OpenBikes is an excellent opportunity for me to enhance my skills in mathematics and computer science. I get a real kick out of making accurate forecasts. I also enjoy adressing the algorithmic issues we have to face, for example dealing with data in real-time and managing a large noSQL database.") }}</p>
						<ul class="social-content">
							<li><a href="mailto:maxhalford25@gmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://github.com/MaxHalford"><i class="fa fa-github fa-fw"></i></a></li>
							<li><a href="https://fr.linkedin.com/in/maxhalford"><i class="fa fa-linkedin fa-fw"></i></a></li>
							<li><a href="http://maxhalford.com/"><i class="fa fa-home fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row member-content right">
				<div class="col-sm-3 col-sm-push-8 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/static/img/about/team/axel_bellec.jpg" alt="Axel Bellec">
					<h4>Axel Bellec</h4>
					<h3 class="title">{{ _("Junior Flask Programmer") }}</h3>
				</div>
				<div class="col-sm-7 col-sm-pull-2">
					<div class="details">
						<p>{{ _("I am a data science student who has a passion for programming and data analysis. I also have an interest in data visualization and geographical information systems (GIS). I am fascinated by programming languages such a R and Python.") }}</p>
						<ul class="social-content">
							<li><a href="mailto:axel.bellec@outlook.fr"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://github.com/Belekkk"><i class="fa fa-github fa-fw"></i></a></li>
							<li><a href="http://fr.linkedin.com/pub/axel-bellec/a4/55a/5b5"><i class="fa fa-linkedin fa-fw"></i></a></li>
							<li><a href="http://axelbellec.fr/"><i class="fa fa-home fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>    
</div>

<div id="blue">
    <div class="container">
		<div align="center" class="row">
			<h3><i class="fa fa-cogs"></i> {{ _("Our tools") }}</h3>
		</div>
    </div>
</div>

<div id="cwrap">
	<div class="container">
	 	<div class="row centered">
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/python.png" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/flask.png" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/mongodb.png" class="img-responsive">
		 	</div>
		</div>
		<div class="row centered">
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/leaflet.png" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/mapbox.png" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/mapzen.png" class="img-responsive">
		 	</div>
		</div>
		<div class="row centered">
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/googledev.png" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/bootstrap.jpg" class="img-responsive">
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="/static/img/about/tools/digitalocean.png" class="img-responsive">
		 	</div>
		</div>
	</div>
 </div>
 
<div id="blue">
    <div class="container">
		<div align="center" class="row">
			<h3><i class="fa fa-bullseye"></i> {{ _("Our goals") }}</h3>
		</div>
    </div>
</div>

<div id="twrap">
 	<div class="container centered">
 		<div class="row">
 			<div class="col-lg-8 col-lg-offset-2">
 			<i class="fa fa-comment-o fa-4x"></i>
 			<p class="white">{{ _("We wish for OpenBikes to become a reference for the visualization and the analysis of bike sharing services in cities from all across the world. For this we are building a reliable forecasting model in order to advise users on their trips across the city. We also want to understand user behavior in order to help cities manage their bike sharing service.") }}</p>
 			</div>
 		</div>
 	</div>
 </div>

{% include 'includes/footer.html' %}
</body>
</html>
