{% include 'includes/header.html' %}
{% include 'includes/navigation.html' %}
<script src="/static/js/freewall.min.js"></script>

<style>
.logo .img-responsive {
    margin: 0 auto;
}
@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  img {
    width: 700px;
    height: auto;
  }
}
</style>

<body>
	<br>
	<br>
	<div class="container mtb">
		<img src="/static/img/OpenBikes.png" class="logo">

		<h2 align="center">" Not just biking <i class="fa fa-bicycle"></i>"</h2>

		<div class="alert alert-info">
	  		<b>OpenBikes</b> {{ _("is the winner of ") }} <a href='http://france3-regions.blog.francetvinfo.fr/numerique-midi-pyrenees/2016/02/03/lapplication-toulousaine-openbikes-facilite-lutilisation-des-velos-en-libre-service-dans-le-monde-entier.html'> <i><b>Dataconnexions 6</b></i>, {{ _("a national open data competition (02/02/16)") }}</a> ! <i class="fa fa-trophy fa-blue" style="color:#66b2ff"></i>
		</div>
	</div>

	<div class="layout">
		<div id="filters" align="center" class="filter-items"></div>
		<div id="freewall" class="free-wall"></div>
	</div>

	<script type="text/javascript">
		var filters = '<div class="filter-label" style="color:white"><i class="fa fa-globe"></i></div>'
		var template = "<div class='brick {size} {country}' title={title} style='background-color: {color}; cursor: pointer;' onclick='window.location.href={url}'><h2 class='cover'>{city}</h2></div>";
		var colors = [
			"#66C194",
			"#77DD77",
			"#FF8C79",
			"#FFD1DC",
			"#ADD8E6",
			"#AEC6CF",
			"#B39EB5",
			"#F9D1AF",
			"#FFB347",
		];
		var html = '', size = '', color = '';
		var i = colors.length * Math.random() << 0;
		{% for country, cities in cities_file.items()|sort %}
            var color = colors[i];
			filters += ['<div class="filter-label" data-filter=".{{ country }}" style="background: ',
                        color, '">', "{{ names_file[country] }}", '</div>'].join('')
            if (i >= colors.length-1) {
				i = 0;
			} else {
				i += 1;
			}
			{% for city in cities|sort %}
				var length = String("{{ city }}").length;
				if (length <= 6) {
					size = "size11";
				} else {
					size = "size21";
				}
				html += template.replace("{size}", size)
                                .replace("{color}", color)
                                .replace("{url}", '"{{ url_for("map", city=city) }}"')
                                .replace("{city}", "{{ names_file[city] }}")
                                .replace("{country}", "{{ country }}")
                                .replace("{title}", "{{ city }}");
            {% endfor %}
        {% endfor %}

		$("#filters").html(filters);
		$("#freewall").html(html);

		$(function() {
			var wall = new Freewall("#freewall");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 160,
				cellH: 120,
				fixSize: 0,
				onResize: function() {
					wall.refresh();
				}
			});
			$(".filter-label").click(function() {
				$(".filter-label").removeClass("active");
				var filter = $(this).addClass('active').data('filter');
				if (filter) {
					wall.filter(filter);
				} else {
					wall.unFilter();
				}
			});
			wall.fitWidth();
		});
	</script>
	{% include 'includes/footer.html' %}
</body>
</html>
