{# myapp/templates/macros.html #}

<!-- Focus on a navigation link -->
{% macro nav_link(endpoint, text) %}
	{% if request.endpoint is not none %}
		{% if request.endpoint.endswith(endpoint) %}
		    <a class="active teal item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% else %}
		    <a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% endif %}
	{% else %}
    	<a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
	{% endif %}
{% endmacro %}

<!-- Generate a form field with WTForms -->
{% macro render_field(field, id, logo) %}
	<div class="input-group">
	{{ field(name_= field.name, id=id, placeholder=field.description, class_="form-control") }}
	<span class="input-group-addon"><i class="fa fa-{{ logo }}"></i></span></span>
	</div>
  	{% if field.errors %}
    	<ul>
	    	{% for error in field.errors %}
	      		<li class="form-error">{{ error }}</li>
	    	{% endfor %}
    	</ul>
  	{% endif %}
{% endmacro %}

<!-- Macro permettant de générer un input pour choisir une datetime avec affichage d'erreurs -->
{% macro render_field_errors_date(field) %}
	<div class="input-group">
		<input type="text" id="{{ field.name }}" data-field="datetime" class="form-control" name="{{ field.name }}" placeholder="{{ field.description }}" autocomplete="off">
		<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
	</div>
  	{% if field.errors %}
    	<ul>
	    	{% for error in field.errors %}
	      		<li class="form-error">{{ error }}</li>
	    	{% endfor %}
    	</ul>
  	{% endif %}
{% endmacro %}
